- var hosps = hospital
- var docs = doctor
- var pats = patient
script(src="/javascripts/tabs.js")
block content
  div.col-md-10.offset-md-1.content
    h3 following is the search result
    div(class="ui top attached tabular menu")
      a.item(data-tab="patient") Patient 
      a.item(data-tab="doctor") Doctor
      a.item(data-tab="hospital") Hospital
    div(class="ui bottom attached tab segment active" data-tab="patient")
      h3 Patient
        if pats!="没有找到"
          - for pat in pats
            div.ui.stacked.segment
              form.userData(method="post", action='/insert')
                button.col-sm-1(name="revise") 修改
                button.col-sm-1(name="save",type="submit") 保存
                button.col-sm-1(name="delete",type="submit") 删除
                div.col-md-12
                  sapn.col-md-3 身份证号： 
                  input(class="dataRevisable" value='#{pat.id}' name="id" disabled)
                div.col-md-12
                  sapn.col-md-3 姓名： 
                  input(class="dataRevisable" value='#{pat.Name}' name="name" disabled)
                div.col-md-12
                  sapn.col-md-3 生日： 
                  input(class="dataRevisable" value='#{pat.birth}' name="birth" disabled)
                div.col-md-12
                  sapn.col-md-3 性别：
                  input(class="dataRevisable" value='#{pat.Sex}' name="sex" disabled)
                div.col-md-12
                  sapn.col-md-3 症状： 
                  input(class="dataRevisable" value='#{pat.Sympton}' name="sympton" disabled)
                div.col-md-12
                  sapn.col-md-3 联系方式： 
                  input(class="dataRevisable" value='#{pat.Contact}' name="contact" disabled)
              div(class='ui divider')
        else
          div.ui.stacked.segment
            li 没有找到对象
          
    div(class="ui bottom attached tab segment" data-tab="doctor")
      h3 Doctor
        if docs != "没有找到"
          - for doc in docs
            div.ui.stacked.segment
              form.userData(method="post", action='/insert')
                button.col-sm-1(name="revise") 修改
                button.col-sm-1(name="save",type="submit") 保存
                button.col-sm-1(name="delete",type="submit") 删除
                div.col-md-12
                  sapn.col-md-3 医生执业号： 
                  input(class="dataRevisable" value='#{doc.Id}' name="id" disabled)
                div.col-md-12
                  sapn.col-md-3 姓名： 
                  input(class="dataRevisable" value='#{doc.Name}' name="name" disabled)
                div.col-md-12
                  sapn.col-md-3 性别：
                  input(class="dataRevisable" value='#{doc.Sex}' name="sex" disabled)
                div.col-md-12
                  sapn.col-md-3 职称：
                  input(class="dataRevisable" value='#{doc.ProffesionalTitle}' name="title" disabled)
                div.col-md-12
                  sapn.col-md-3 联系方式：
                  input(class="dataRevisable" value='#{doc.Contact}' name="contact" disabled)
                div.col-md-12
                  sapn.col-md-3 从医年限：
                  input(class="dataRevisable" value='#{doc.CareerYear}' name="career" disabled)
              div(class='ui divider')
        else
          div.ui.stacked.segment
            li 没有找到对象
            
    div(class="ui bottom attached tab segment" data-tab="hospital")
      h3 Hospital
        if hosps != "没有找到"
          - for hos in hosps
            div.ui.stacked.segment
              form.userData(method="post", action='/insert')
                button.col-sm-1(name="revise") 修改
                button.col-sm-1(name="save",type="submit") 保存
                button.col-sm-1(name="delete",type="submit") 删除
                div.col-md-12
                  sapn.col-md-3 医院编号： 
                  input(class="dataRevisable" value='#{hos.id}' name="id" disabled)
                div.col-md-12
                  sapn.col-md-3 医院名：
                  input(class="dataRevisable" value='#{hos.Name}' name="name" disabled)
                div.col-md-12
                  sapn.col-md-3 医院等级：
                  input(class="dataRevisable" value='#{hos.Level}' name="level" disabled)
                div.col-md-12
                  sapn.col-md-3 联系方式：
                  input(class="dataRevisable" value='#{hos.Contact}' name="contact" disabled)
                div.col-md-12
                  sapn.col-md-3 地址：
                  input(class="dataRevisable" value='#{hos.Address}' name="address" disabled)
              div(class='ui divider')
        else
          div.ui.stacked.segment
            li 没有找到对象
      