- var hosps = hospital
- var docs = doctor
- var pats = patient
script(src="/javascripts/tabs.js")
block content
  div.col-md-10.offset-md-1.content
    h3 following is the search result
    div(class="ui top attached tabular menu")
      a.item(data-tab="patient") Patient 
      a.item(data-tab="doctor") Doctor
      a.item(data-tab="hospital") Hospital
    div(class="ui bottom attached tab segment active" data-tab="patient")
      h3 Patient
        if(pat!="没有找到！")
          - for pat in pats
            div.ui.stacked.segment
              ul
                li 姓名：#{pat.Name}
                li  生日：#{pat.Birthday}
                li  性别#{pat.Sex}
                li  症状： #{pat.Sympton}
                li  联系方式： #{pat.Contact}
              div(class='ui divider')
        else
          div.ui.stacked.segment
            li 没有找到对象
          
    div(class="ui bottom attached tab segment" data-tab="doctor")
      h3 Doctor
        if docs != "没有找到"
          - for doc in docs
            div.ui.stacked.segment
              ul
                li 姓名：#{doc.Name}
                li  生日：#{doc.Birthday}
                li  性别#{doc.Sex}
                li  职称： #{doc.ProffesionalTitle}
                li  联系方式： #{doc.Contact}
                li  从医年限：#{doc.CareerYear}
              div(class='ui divider')
        else
          div.ui.stacked.segment
            li 没有找到对象
            
    div(class="ui bottom attached tab segment" data-tab="hospital")
      h3 Hospital
        if hosps != "没有找到"
          - for hos in hosps
            div.ui.stacked.segment
              ul
                li 姓名：#{hos.Name}
                li  医院等级：#{hos.Level}
                li  地址：#{hos.Address}
                li  联系方式： #{hos.Contact}
              div(class='ui divider')
        else
          div.ui.stacked.segment
            li 没有找到对象
      